body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #24d3b0;
  }
  
  .container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #b0fff3;
    border-radius: 5px;
    background-color: #a4edff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.978);
  }
  
  button {
    background-color: #12126c;
    color: #fff;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2a7578;
  }
  
  #foodList {
    text-align: left;
    margin-top: 20px;
  }
  
  #foodList ul {
    list-style-type: none;
    padding: 0;
  }
  
  #foodList li {
    margin-bottom: 10px;
  }
  
  #feedbackSection {
    text-align: left;
    margin-top: 20px;
  }
  
  #stars span {
    font-size: 30px;
    cursor: pointer;
    color: #ffffff;
  }
  
  #stars span:hover {
    color: #ffcc00; /* Change star color on hover */
  }
  
  .hidden {
    display: none;
  }
  .container {
  /* Additional styles for the container */
  position: relative;
 
  padding-bottom: 65px; /* Adjust based on footer height */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-content {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

footer a {
  color: #000000; 
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: blueviolet;
}
  